@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Color Theme Swatches in Hex */
    --background-color: #1E2126;
    --secondary-color: #373c46;
    --primary-color: #c0fdff;
}
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
body{
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('images/bg-banner2.jpg');
    background-size: cover;
}
a{
    text-decoration: none;
}
.navBar {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    background-color: var(--secondary-color);
    background: linear-gradient(to right, var(--secondary-color), var(--secondary-color)10%, transparent);
}
.navBar a{
    text-transform: uppercase;
    padding: 0px 10px;
    transition: 0.2s;
    width: 200px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: lightblue;
    background-color: var(--background-color);
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar a:hover{
    color: var(--background-color);
    background-color: var(--primary-color);
}
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gameModes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 50%;
    padding: 30px;
}
.gameModes a{
    width: 100%;
    padding: 10px;
    transition: 0.2s;
}
.gameModes a:hover{
    color: var(--background-color);
    background-color: var(--primary-color);
}
h1{
    text-transform: uppercase;
    font-size: 1.4rem;
}
.title-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100.3%;
    height: 80px;
    background-color: black;
    z-index: 10;
    border-bottom: 1px solid white;
}
input{
    color: black;
    text-align: center;
    font-size: 1.6rem;
}

@keyframes pulseBackgroundRed {
    0% {
        background-color: red;
    }
    100% {
        background-color: var(--background-color);
    }
}
@keyframes pulseBackgroundGreen {
    0% {
        background-color: green;
    }
    100% {
        background-color: var(--background-color);
    }
}


